<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Movie List</h1>
    <a href="{% url 'movies:create' %}">New Movie</a>
    <ul>
        {% for movie in movies %}
        <li>
            <a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a>
                        <!-- /movies/1/ -->
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>